#header {
  font-family: 'Montserrat', 'Roboto', Helvetica, sans-serif;
}

#header #logo, #titleBar .title {
    text-transform: uppercase;
    font-weight: 700;
    a:hover {
      color: _palette(fg-bold) !important;
    }
  }

.text-primary {
  color: _palette(accent1);
}

.light {
  font-weight: 400;
}