// $grayscale-primary: #219AB3 !default;
$grayscale-primary: #A90000 !default;
$grayscale-dark: #222 !default;
$grayscale-light: #fff !default;
$brand-primary:  $grayscale-primary;

$grayscale-body-font-family: "Exo 2","PT Sans","Palanquin","Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
/*
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$fa-font-path: '../bower_components/font-awesome/fonts';
*/
