@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import '_fonts';

@import 'libs/landed';

.club {
  color: _palette(accent1);
  font-weight: 700;
  @include vendor('transition', ('border-color #{_duration(transition)} ease-in-out', 'color #{_duration(transition)} ease-in-out'));
}
a:hover .club {
  color: _palette(fg-bold);
}

.logo-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.wrapper.style2 p {
  // color: _palette(fg-bold) !important;
  font-weight: 300;
}