---
changefreq: weekly
priority: 1
---
/ Family Section
section#family.container.content-section
  .row
    .col-lg-4.col-lg-offset-2.text-center
      markdown:
        ## Family
        
        This is the website of the Riemann family mostly based in Berlin. We are
        likely not related to the mathematician [Bernhard Riemann](//de.wikipedia.org/wiki/Bernhard_Riemann).
        The musician, scientist and composer [Hugo Riemann](//de.wikipedia.org/wiki/Hugo_Riemann)
        (1849-1919) however is our ancestor.
        
        Robert Riemann (1877-1962), a son of Hugo Riemann, has taken hand-written
        chronicles that have been left unnoticed for many decades, even though he
        was probably not reluctant to its publication. His son, the lawyer Tord
        Hugo Riemann (1925-1992) has passed his belongings to his longtime companion
        Vera Loebner who has been so generous to allocate all personal documents to
        his childs (with [Käthe Riemann](//de.wikipedia.org/wiki/K%C3%A4the_Riemann), 
        1928-2000) Tord Robert, Carmen-Thurid, and Raoul Robert.
        
        Since 1989, few requests regarding the family history of Hugo Riemann have
        reached us. A notable result is the German biography "Hugo Riemann
        (1849-1919) - Leben, Werk und Wirkung" (Concerto Verlag, Köln, 1999) by
        Mr. Dr. Michael Arntz. As a result of this interest, the idea grow to
        make the Robert Riemanns script "Dummheit und Einsicht - Aus meinem Leben"
        (engl.: Foolishness and Insight – out of my life) available to the public.
        The second out of sixteen chapters is dedicated to "Hugo Riemann" and should
        be published [first](http://hugo-riemann.de/For-2009/Bio-Rob-Riemann-2-HugoRiemann.pdf)
        ([more](http://hugo-riemann.de/#Kapitel-02), in german).
        
    .col-lg-4
      .thumbnail
        img.img-responsive src="img/emblem.png" alt="Familienwappen"
        .caption
          | Familienwappen, &copy; Tord Riemann 2008

/ Links Section
section#links.content-section.text-center
  .download-section
    .container
      .col-lg-8.col-lg-offset-2
        markdown:
          ## Download Grayscale
          
          You can download Grayscale for free on the preview page at Start Bootstrap.
          
          [Visit the Original Download Page](http://startbootstrap.com/template-overviews/grayscale/){:.btn.btn-default.btn-lg}
        
/ Contact Section
section#contact.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      markdown:
        ## Contact Start Bootstrap
      
        Feel free to email us to provide some feedback on our templates, give us
        suggestions for new templates and themes, or to just say hello!
      
        [feedback@startbootstrap.com](mailto:feedback@startbootstrap.com)

      ul.list-inline.banner-social-buttons
        li
          a.btn.btn-default.btn-lg href="https://twitter.com/SBootstrap" 
            i.fa.fa-twitter.fa-fw
            span.network-name Twitter
        li
          a.btn.btn-default.btn-lg href="https://github.com/IronSummitMedia/startbootstrap" 
            i.fa.fa-github.fa-fw
            span.network-name Github
        li
          a.btn.btn-default.btn-lg href="https://plus.google.com/+Startbootstrap/posts" 
            i.fa.fa-google-plus.fa-fw
            span.network-name Google+
